@model PagedList.StaticPagedList<dtoCharacteristics>
@{
    ViewBag.Title = "Caracteristicas";
    var filters = ViewBag.Filter as MaritzaData.Filters.fltCharacteristics;

}


<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-3">
                    <h1 class="h3 p-2">@ViewBag.Title</h1>
                </div>
                <div class="offset-5 col-2  align-self-center">
                    <a class="btn btn-secondary w-100" href="@Url.Action("CreateByExcel")">Cargar excel</a>
                </div>
                <div class="col-2 align-self-center">
                    <a class="btn btn-secondary w-100" href="@Url.Action("Create","Characteristics",null)">Agregar</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Ajax.BeginForm(
                              new AjaxOptions
                              {
                                  HttpMethod = "get",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "IndexList",

                              }))
            {

                <div class="row p-3">
                    <div class="col-3">
                        @Html.LabelFor(f => filters.CharacteristicID, new { @class = "form-label" })
                        @Html.TextBoxFor(f => filters.CharacteristicID, new { @class = "form-control", @placeholder = "ID", @Value = filters.CharacteristicID == 0 ? "" : filters.CharacteristicID.ToString() })
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(f => filters.Name, new { @class = "form-label" })
                        @Html.TextBoxFor(f => filters.Name, new { @class = "form-control", @placeholder = "Característica" })
                    </div>
                    <div class="offset-4 col-2 ">
                        <a id="Clean" class="btn btn-sm btn-primary w-100 mb-1" href="@Url.Action("Index","Characteristics",null)">Limpiar</a>
                        <input id="btnSearch" class="btn btn-sm btn-success w-100" type="submit" value="Buscar" />
                    </div>
                </div>
                @Html.Partial("_index", Model);
                @Html.HiddenFor(model => filters.CharacteristicID_Sort)
                @Html.HiddenFor(model => filters.Name_Sort)
                @Html.HiddenFor(model => filters.Active_Sort)
                @Html.HiddenFor(model => filters.SortingOrder)
            }
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}