@{
    ViewBag.Title = "Mari Making";
}

<!DOCTYPE html>
<html @*style="overflow: hidden;"*@>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                @*<a class="navbar-brand" href="#">Hidden brand</a>*@
                <img src="@Url.Content("~/Content/Img/Logo/Logo-lg.png")" alt="Icon-Maritza" width="100" height="50">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    @if (!Request.IsAuthenticated)
                    {
                    }
                    else
                    {
                        if (User.IsInRole(MaritzaData.ConfigClasses.RolesApp.Rol_Administrador))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Catalogos
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Caracteristicas", "Index", "Characteristics", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Proyectos", "Index", "Proyects", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Tematicas", "Index", "Topics", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Tipos de proyecto", "Index", "ProyectTypes", null, new { @class = "dropdown-item" })</li>
                                </ul>
                            </li>

                        }

                    }
                </ul>
                <div class="d-flex align-items-center">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="">
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Get, new { @id = "frmLogOut", @class = "navbar-right" }))
                            {
                                <button class="nav-link" type="submit">Cerrar sesión</button>
                            }



                        </div>
                    }
                    else
                    {
                        <div>
                            @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" })
                        </div>
                        <div class="mx-2"> | </div>
                        <div>
                            @Html.ActionLink("register", "Register", "Account", new { area = "" }, new { @class = "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" })
                        </div>
                    }


                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        @*<footer class="bg-blue-custom d-flex justify-content-center" style="width: 100%; height: 25px; position:relative; bottom: 0; left: 0">
                <p style="font-size:1em;">&copy; @DateTime.Now.Year - @ViewBag.Title</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
