<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Catalogos
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Caracteristicas", "Index", "Characteristics", null, new { @class = "dropdown-item" })</li>
        <li>@Html.ActionLink("Proyectos", "Index", "Proyects", null, new { @class = "dropdown-item" })</li>
        <li>@Html.ActionLink("Tematicas", "Index", "Topics", null, new { @class = "dropdown-item" })</li>
        <li>@Html.ActionLink("Tipos de proyecto", "Index", "ProyectTypes", null, new { @class = "dropdown-item" })</li>
        <li>@Html.ActionLink("Usuarios", "Index", "Users", null, new { @class = "dropdown-item" })</li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Reportes
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Proyectos", "ReportProyect", "Reports", null, new { @class = "dropdown-item" })</li>
        <li>@Html.ActionLink("Usuarios", "ReportUsers", "Reports", null, new { @class = "dropdown-item" })</li>
    </ul>
</li>
