@model tblProyectTypes
@{
    ViewBag.Title = "Crear tipo de proyectos";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frm", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
    <div class="container pt-5 mt-5 mb-5">

        <div class="card mt-5">
            <div class="card-header">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="card-body mt-5 ">

                <div class="row ">
                    <div class="col-4 p-1">
                        @Html.LabelFor(model => model.Name, new { @class = "form-label fw-bold" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tipo de proyecto" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row pt-2">
                    <div class="col-2">
                        <a class="btn btn-secondary w-100" href="@Url.Action("Index")">Regresar</a>
                    </div>
                    <div class="col-2 offset-8">
                        <input class="btn btn-success w-100" type="submit" value="Guardar" />
                    </div>
                </div>

            </div>
        </div>

    </div>

}

@section scripts{
    <link href="@Url.Content("~/Content/cropper.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Cropper/cropper.js")"></script>
    <script type="text/javascript">
       
    </script>

}


