@model PagedList.StaticPagedList<dtoProyectTypes>
@{
    ViewBag.Title = "Tipos de proyectos";
    var filters = ViewBag.Filter as MaritzaData.Filters.fltProyectTypes;

}

<div class="container  mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <h1 class="h3 p-2">@ViewBag.Title </h1>
                </div>
                <div class="col-2 align-self-center">
                    <a class="btn btn-secondary w-100" href="@Url.Action("Create","ProyectTypes",null)">Agregar</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Ajax.BeginForm(
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ModelList",
            }
            ))
            {
            
                <div class="row p-3">
                    <div class="col-3">
                        @Html.LabelFor(f => filters.ProyectTypeID, new { @class = "form-label" })
                        @Html.TextBoxFor(f => filters.ProyectTypeID, new { @class = "form-control", @placeholder = "ID", @Value = filters.ProyectTypeID == 0 ? "" : filters.ProyectTypeID.ToString() })
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(f => filters.Name, new { @class = "form-label" })
                        @Html.TextBoxFor(f => filters.Name, new { @class = "form-control", @placeholder = "Tipo de proyecto" })
                    </div>
                    <div class="offset-4 col-2 ">
                        <a id="Clean" class="btn btn-sm btn-primary w-100 mb-1" href="@Url.Action("Index","ProyectTypes",null)">Limpiar</a>
                        <input id="btnSearch" class="btn btn-sm btn-success w-100" type="submit" value="Buscar" />
                    </div>
                </div>
                @Html.Partial("_index", Model);
                @Html.HiddenFor(model => filters.ProyectTypeID_Sort)
                @Html.HiddenFor(model => filters.Name_Sort)
                @Html.HiddenFor(model => filters.Active_Sort)
                @Html.HiddenFor(model => filters.SortingOrder)
            }
        </div>
    </div>

</div>
